/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import url(http://fonts.googleapis.com/css?family=Montserrat);

html {
    font-size: 1em;
    /*line-height: 1.4;*/
}

body {
    background: #000;
    font-family: Montserrat, Helvetica;
    width: 100%;
}

.header-container{
    margin: 0 auto;
}

.main-container{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #fff;
}

.main {
    margin: 0 auto;
}

.footer-container{
    margin: 0 auto;
}

.header-container,
.main,
.footer-container {
    max-width: 80%;
}

/* ===================
    ALL: Theme
   =================== */

#eventos aside img {
    width: 100%;
    height: auto;
}

.title {
    color: #000;
    text-transform: uppercase;
}

p.aesg {
    text-align: center;
}

p .aesg {
    background-image: url("../img/logo-small.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 55px;
    width: 55px;
}

.button {
    background: #000;
    clear: both;
    color: #fff;
    padding: 0.4em 3em;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}

#home .main {
    text-align: center;
}

#home img {
    margin: 0 auto 0 0;
    height: auto;
    width: 40%;
}

#home p {
    text-transform: uppercase;
}

.aesgsmall {
    text-align: center;
}

.aesgsmall span {
    background-image: url("../img/logo-small.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 4px 10px 0 85px;
    min-width: 55px;
    min-height: 55px;
}

.footer-container h3 {
    font-size: 0.71em;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-container p {
    font-size: 0.71em;
    line-height: 1.4em;
}

.footer-container p.copyright{
    text-transform: capitalize;
}

#aesg section, #aesg aside {
    border-left: 1px solid #000;
    padding: 1em;
    margin-bottom: 1em;
}

#aesg section h1, #aesg aside h1 {
    font-size: 2em;
    font-weight: normal;
}

#aesg section p, #aesg aside dl {
    font-size: 0.8em;
}

#aesg aside dt {
    border-right: 1px solid #000;
    clear: both;
    float: left;
    font-weight: bold;
    padding-right: 4px;
    width: auto;
}

#aesg aside dd {
    display: inline;
    margin: 0 0 1em 4px;
}

/* ==============
    MOBILE: Menu
   ============== */

.header-container {
    width: 100%;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    width: 80%;
}

nav a {
    color: #FFF;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: none;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.main article h1, .main aside h1 {
    text-transform: uppercase;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: auto;
        padding: 2% 2% 18%;
        margin-bottom: 0;
    }

    nav li:first-child, nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child, nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline-block;
        margin-right: 10%;
        overflow: hidden;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        /*float: left;*/
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 45%;
    }

    .main aside {
        float: right;
        width: 45%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
